@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    /* Paleta de colores */
    --color-verde-oscuro: #A7BF4E; 
    --color-verde-claro: #D4F266;
    --color-casi-blanco: #F2F2F2;
    --color-gris: #404040;
    --color-gris-oscuro: #0D0D0D;
    /* Borde predeterminado */
    --borde-chequeo: 1px solid tomato;
    --tamano-titulo: 2.5rem;
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body { 
    font-family: 'Inter', sans-serif;
    background: var(--color-casi-blanco);
}

html {
    scroll-behavior: smooth;
}


h1 { font-size: 2.5rem;}
h2 { font-size: 2rem;}
h3 { font-size: 1.75rem;}
h4 { font-size: 1.5rem;}

p { 
    font-size: 1rem;
}

a { 
    text-decoration: none;
    color: black;
}

button { 
    display: inline-block;
    font-size: 18px;
    padding: 12px 20px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.8s;
    padding: 20px 20px;
    z-index: 10;
}

header.abajo {
    background: var(--color-gris) ;
    /* opacity: 0.7; */
    padding: 15px 20px;
}
header > .logo-gral {
    display: flex;        
    align-items: center;
    transition: 1,5s;
    text-decoration: none;
    gap: 15px;
}

.logo-palabra {
    color: var(--color-casi-blanco);
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 1px;
}


nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
}

header ul li a {
    position: relative;
    font-family: Verdana;
    margin: 0 15px;
    text-decoration: none;
    color: grey;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.8s;
}

header ul li a:hover {
    color: var(--color-casi-blanco);
}

.toma5 {
    position: relative;
    width: 100%;
    height: 15vh;
    background-color: var(--color-gris);
    background-position: center center;


}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "titulo-headline persona"
        "titulo-headline persona"
        "titulo-headline persona"
        "titulo-headline persona";
    /* grid-gap: 2rem; */
    /* border: 5px solid green; */
    background-color: var(--color-casi-blanco);
    
}

.titulo-headline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 5rem;
    grid-area: titulo-headline;
    /* border: solid red ; */
}

.bienvenidos{    
    grid-area: bienvenidos;
    margin-left: 2rem;
    font-size: 3rem;
    /* border: 1px solid red;
    background-color: #404041; */    
}

.bienvenidos::after{
    content: "éxito digital";
    font-weight: 900;
    font-style: italic;
    color: var(--color-verde-oscuro);
    text-decoration: underline;
}

.headline {
    /* grid-area: headline;    
    margin-left: 10rem;  */
    font-weight: 400;
    font-size: 2rem;
    
}

.markdig3::after{
    content: "vanguardia.";
    font-weight: 800;
    font-style: italic;
    color: var(--color-verde-oscuro);
    text-decoration: underline;
}


/* .markdig1{
  
    background-color: bisque;
    grid-area: markdig1;
    border: 1px solid red;
    font-size: 1rem;
}
.markdig2{
 
    background-color: bisque;
    grid-area: markdig2;
    border: 1px solid red;
    font-size: 1rem;
}
.markdig3{
 
    background-color: bisque;
    grid-area: markdig3;
    border: 1px solid red;
    font-size: 1rem;
} */

.persona{
    grid-area: persona;
    height: 50vh;
    position: relative;
    /* border: 1px solid red;
    background-color: burlywood; */
}


.container-quienes-somos {
    display: flex;
    padding: 75px 0;
    background-color: var(--color-gris);
    /* border: var(--borde-chequeo); */
}

.container-quienes-somos > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25vw;
    background-color: var(--color-gris-oscuro);
    width: 50vw;
    border-radius: 50px;

}
.container-quienes-somos > div > h2{
    font-size: var(--tamano-titulo);
    margin-top: 20px;
    letter-spacing: 1px;
}

.container-quienes-somos > div > p{
    font-size: 1.2rem;
    text-align: left;
    margin: 35px;
    
}

.contenido-quienes-somos {
    color: var(--color-casi-blanco);
    font-weight: 500;
}

/* .circulo {
    position: relative;
    width: 100px;
    align-self: flex-end;
    border: var(--borde-chequeo);
} */

.clientestitulo{
    display: flex;
    justify-content: center;
    font-size: var(--tamano-titulo);
}

.carrousel{
    width: 25%;
    margin: auto;
    overflow: hidden;
}

.carrousel ul{
    display: flex;
    animation: cambio 10s infinite alternate ease-in-out;
    width: 600%;
}
.carrousel li{
    width: 100%;
    list-style: none;
}
.carrousel img{
    width: 100%;
    height: 100%;
}
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

#servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    /* border: 2px solid #A7BF4E; */
    border-top: none;
    padding-top: 30px;
    padding-bottom: 30px;
    
  }
  
  #servicios > h1 {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    color: var(--color-gris-oscuro);
    letter-spacing: 1px;
    font-size: var(--tamano-titulo);
  }
  
  .mosaico {
    flex: 0 0 calc(50% - 20px);
    background-color: var(--color-gris);
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 8px;
    transition: background-color 0.3s, border-color 0.3s;
    border: 2px solid var(--color-gris);
  }
  
  .mosaico:hover {
    background-color: var(--color-verde-oscuro);
    border-color: var(--color-verde-oscuro);
  }
  
  .mosaico h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .mosaico p {
    margin-bottom: 0;
  }

form label { 
    display: inline-block;
    margin-bottom: 0.5rem;
}

form .form-control { 
    display: block;
    width: 100%;
    padding: .375rem .7rem;
    font-size: 1rem;
}

#contacto{
    margin: 50px;
}

#contacto form { 
    width: 60%;
    margin: 0 auto;
}

#contacto button { 
    width: 100%
}

#contacto > h3 {
    font-size: var(--tamano-titulo);
    display: flex;
    justify-content: center;
}

footer { 
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 40px;
    color: var(--color-casi-blanco);
    background-color: var(--color-gris-oscuro);
}



::-webkit-scrollbar {
    width: 1em !important;
}
::-webkit-scrollbar-thumb {
    background-color: var(--color-gris-oscuro) !important;
    outline: 0px solid #000000 !important;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .2) !important;
}